body {
    height: 100vh;
    background-image: url(./img/urban-vintage-78A265wPiO4-unsplash.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    width: 60%;
    height: 250px;
    background-color: rgba(240, 210, 210, 0.385);
    border-radius: 30px;
    box-shadow: 0 0 3px;
}

#timer{
    width: 100%;
    font-size: 72px;
    text-align: center;
    margin: 0px auto;
    padding: 35px;
}

.buttons {
    text-align: center;
   
   

}

button {
     margin: 0 10px;
    border: none; 
    border-radius: 7px;
   
}

button i {
    /* font-size: 2rem; */
    padding: 10px;
    color: rgb(242, 242, 242);
    width: 50px;
    border-radius: 2px;
}

#play {
    background-color: green; 
    
    
}

#pause {
    background-color: orange;
}

#reset {
    background-color: red;

}